{{ define "metadata" }}
<title>{{.Title}} | {{.Site.Title}}</title>
<meta property="og:title" content="{{.Title}} | {{.Site.Title}}" />
<meta property="og:url" content="{{.Permalink}}" />
<meta property="og:image" content="{{.Site.BaseURL}}/img/logo-512.png" />
<meta property="og:description" content="{{.Description}}" />
{{ end }}

{{ define "main" }}
<main class="md:flex flex-col justify-center items-center">
  <article class="prose">
    <header>
      <h1>{{.Title}}</h1>
    </header>
    {{.Content}}
    <ul>
      {{ range .Site.Taxonomies.tags }}
      <li>
        <a href="{{.Page.Permalink}}">{{ .Page.Title }} ({{ .Count }})</a>
      </li>
      {{ end }}
    </ul>
  </article>
</main>
{{ end }}