<footer class="md:flex pt-5">
  <!-- Streamers -->
  <div class="flex-1">
    <div
      class="flex flex-col justify-center items-center md:text-left text-center"
    >
      <h4 class="text-3xl font-bold">Авторы</h4>
      <ul class="text-center">
        {{range .Site.Params.footer.authors}}
        <li><a href="{{.link}}">{{.name}}</a><span class="pl-1 opacity-50">[{{.description}}]</span></li>
        {{end}}
      </ul>
    </div>
  </div>

  <!-- Logo -->
  <div class="flex-1">
    <div class="flex flex-col justify-center items-center h-full">
      <img class="md:w-1/4 w-1/2" src="/img/logo.svg">
    </div>
  </div>

  <!-- Social -->
  <div class="flex-1">
    <div
      class="flex flex-col justify-center items-center md:text-left text-center"
    >
      <h4 class="text-3xl font-bold">Ссылки</h4>
      <ul class="text-center">
        {{range .Site.Params.footer.links}}
        <li><a href="{{.link}}">{{.name}}</a></li>
        {{end}}
      </ul>
    </div>
  </div>
</footer>
