{{define "main"}}
<div class="relative pb-5" id="logo">
  <img src="/img/logo.webp" class="mx-auto rounded-full" />
  <div class="mx-auto md:w-1/4">
    <audio id="player" controls="controls" preload="none">
      <source
        src="https://radio.morkerfyr.mle.party:8443/stream"
        type="audio/mpeg"
      />
    </audio>
  </div>
</div>

<div class="text-center">
  <div class="mx-auto">
    <h4 class="text-3xl">🎶 <span id="nowplaying">ничего</span> 🎶</h4>
  </div>

  <h4 class="text-3xl font-bold">История</h4>
  <ul id="history"></ul>
</div>

{{$player := resources.Get "js/player.js" | js.Build (dict "minify" true) | fingerprint}}
{{$history := resources.Get "js/history.js" | js.Build (dict "minify" true) | fingerprint}}

<script type="text/javascript" src="{{$player.RelPermalink}}"></script>
<script type="text/javascript" src="{{$history.RelPermalink}}"></script>
{{end}}
