@import "plyr/dist/plyr.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --plyr-color-main: white;
  --plyr-audio-controls-background: none;
  --plyr-audio-control-color: white;
  --plyr-audio-control-color-hover: #4a5464;
}

.dark {
  @apply bg-gray-900 text-gray-300;
}

.dark .prose,
.dark .prose * {
  @apply text-gray-300;
}
