@import 'plyr/dist/plyr.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --plyr-color-main: white;
    --plyr-audio-controls-background: none;
    --plyr-audio-control-color: white;
    --plyr-audio-control-color-hover: #4a5464;
}

.plyr__controls {
    justify-content: center;
}